<link href="/css/day14.css" rel="stylesheet">
<p id="solution"></p>
<canvas id="canvas" width="505" height="515"></canvas>
<br>
<label for="input" style="font-size: large;">Inputs for guards:</label><br>
<textarea id="input" name="input" rows="10" cols="50" style="background-color: #151515; color: #dfdfdf;"></textarea><br>
<input type="submit" value="Submit" onclick="submit()">
<input type="submit" value="Simulate" onclick="simulate_single_pass()">
<input type="submit" value="Simulate back" onclick="simulate_back_single_pass()">
<input type="submit" value="Simulate until tree" onclick="simulate_until_tree()">
<script src="/js/day14.js"></script>
